{{> header}}
<div class="row">
    <div class="col-sm-12">
        <h3>{{teamName}}</h3>
    </div>
</div>
{{#actualScore}}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <b>{{name}}</b>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{percentOfMax}}%" aria-valuenow="{{prediction}}" aria-valuemin="0" aria-valuemax="{{maxPrediction}}">
                {{prediction}}
            </div>
        </div>
    </div>
</div>
{{/actualScore}}
{{#gameDetailsRows}}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        {{name}}
    </div>
    {{^score}}
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
        <div class="progress" >
            <div class="progress-bar" role="progressbar" style="width: {{percentOfMax}}%" aria-valuenow="{{prediction}}" aria-valuemin="0" aria-valuemax="{{maxPrediction}}">
                {{prediction}}
            </div>
        </div>
    </div>
    {{/score}}
    {{#score}}
    {{^bonus}}
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
        <div class="progress" >
            <div class="progress-bar" role="progressbar" style="width: {{percentOfMax}}%" aria-valuenow="{{prediction}}" aria-valuemin="0" aria-valuemax="{{maxPrediction}}">
                {{prediction}} (+{{score}})
            </div>
        </div>
    </div>
    {{/bonus}}
    {{#bonus}}
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
        <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{percentOfMax}}%" aria-valuenow="{{prediction}}" aria-valuemin="0" aria-valuemax="{{maxPrediction}}">
                {{prediction}} ({{amount}} BONUS)
            </div>
        </div>
    </div>
    {{/bonus}}
    {{/score}}
</div>
{{/gameDetailsRows}}
{{^gameDetailsRows}}
<div class="row">
    <div class="col-sm-12">
        <p>No scores yet... stay tuned.</p>
    </div>
</div>
{{/gameDetailsRows}}
{{> footer}}
